# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Raw dataset working folders & backups
Back/
Biceps/
Calves*/
Chest/
Front Delts/
Quadriceps*/
Rear Delts/
Shoulders/
shoulders*/
Side Delts*/
Traps*/
Triceps/
public/media_backup/
public/media/temp_fast_video_*.mp4
*.traineddata
*.json.bak
